<rss xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle" xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0">
<channel>
    <item>
      <enclosure url="https://github.com/skpm/sketch-dev-tools/releases/download/v0.9.9/dev-tools.sketchplugin.zip" sparkle:version="0.9.9"/>
    </item>
</channel>
</rss>
